/* universal */

body {
  padding-top: 70px;
}

/* header */

.navbar {
  background: whitesmoke;
  height: 70px;
}

#logo {
  color: #2E64FE;
  float: left;
  font-size: 2.5em;
  margin-top: 8px;
}

/* header以降 */

.whole-container {
  display: flex;
}

/* sidebar */

.sidebar {
  background: #2E64FE;
  height: 500px;
  width: 350px;
}

/* main */

.main {
  width: 100%;
}