<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "ナレシェア", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>